{# Section Content Key List #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

{% set component = component.content_key_list[0] %}

{% set accent = component.accent %}
{% set title = component.title %}
{% set entry = component.entry %}
{% set list = component.list %}
{% set link = component.link %}

<div id="section-component-content-key-list-{{ loop.index }}" class="section-component section-component-content-key-list">
    {# content #}
        
    <div class="relative mx-auto space-y-12 section-component-content-key-list__content inview-container">
            {# title #}
            <div class="text-center section-component-content-key-list__header inview-item">
                {{ badges.render_accent_badge({
                    title: title,
                    class: 'section-entry__accent',
                })}}
                
                {# title #}
                <hgroup class="section-component-content-key-list__title">
                    {{ headings.render_heading_three({
                        title: title,
                        size: 'fluid-text-4xl',
                    })}}
                </hgroup>
            </div>

            {# entry #}
            <div class="max-w-4xl mx-auto space-y-8 text-center section-component-content-key-list__entry inview-item">
                {% embed "@Layouts/prose/_embed-prose-section.twig" %}
                    {% block prose_content %}
                        {{ entry }}
                    {% endblock %}
                {% endembed %}
            </div>


            {# list items #}
            <div class="mx-auto mt-16 section-component-content-key-list__items">
                <dl class="flex flex-wrap items-center lg:justify-center">
                    {% for list in list %}
                    <dd id="key-list-{{ loop.index }}" class="flex items-center pb-2 space-x-4 section-component-content-key-list__item lg:pb-4 inview-item md:w-1/2 lg:w-1/4">
                        <span class="inline-flex flex-grow-0 text-lg font-medium">{{ list.item }}</span>
                    </dd>
                    {% endfor %}
                </dl>
            </div>

            {% if link %}
                {# cta #}
                <div class="relative flex justify-center section-component-content-key-list__cta">
                    {{ buttons.render_button_link({
                        text: link.title,
                        link: link.url,
                        size: 'large',
                    })}}
                </div>
            {% endif %}
        </div>
    </div>
</div>







