
{% import "@Elements/menus/_macro-menus.twig" as menus %}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-logos.twig" as logos %}


<footer class="px-6 lg:px-8 bg-white main-footer" aria-labelledby="footer-heading">
	<h2 id="footer-heading" class="sr-only">Footer</h2>
	<div class="pt-8 pb-8 mx-auto max-w-(--breakpoint-2xl) main-footer__container px-4">
		<div class="flex flex-col lg:flex-row items-start lg:items-center justify-between">
			<div class="flex w-full  items-center gap-x-8">
				<div class="flex w-full max-w-32 mx-auto lg:mx-0 lg:w-auto flex-col lg:flex-row  items-center space-x-2 text-gray-500 main-footer__logo">
                        {{ logos.render_miranda_logo() }}
                    <span class="sr-only">{{ site.title }}</span>
                </div>

                {{ menus.render_menu(menu.footer_nav.get_items, {
                    level: 0,
                    classes: 'hidden lg:grid grid-cols-4 gap-4 xl:gap-8 main-footer__menu',
                    link_classes: 'text-base font-semibold leading-6 text-gray-600',
                    child_classes: 'text-sm leading-6 text-gray-300 mt-4 space-y-2',
                    child_link_classes: '',
                
                }) }}
				
			</div>
			<div class="main-footer__social-container w-full lg:w-auto pt-6 lg:pt-0">
                <div class="flex w-full lg:w-auto flex-col lg:flex-row justify-center  items-center space-x-6 main-footer__social">
                    {{ menus.render_social_menu(menu.footer_social.get_items, {
                        name: 'footer-social',
                        classes: 'flex space-x-6 main-footer__social-menu',
                        link_classes: 'text-gray-500 hover:text-gray-400 main-footer__social-menu-link',
                        icon_classes: 'w-5 h-5 main-footer__social-menu-icon',
                    
                    }) }}
					
				</div>
                
			</div>

            
		</div>
		<div class="pt-8 mt-6 border-t border-white/10 text-center lg:text-left">
			<p class="text-xs leading-5 text-gray-400">&copy; {{ 'now' | date('Y')  ~ ' ' ~ site.title ~ ' ' ~ site.description }}, Inc. All rights reserved.</p>
		</div>
	</div>
</footer>