{% import "components/ui/_macro-icon.twig" as icons %}
{% import "components/ui/_macro-button.twig" as btns %}

{% if items|length %}
	<div class="{{ name }} button-group">
		{% for item in items %}
			{# <a class="button {{ item.classes|join(' ') }}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a> #}
            {{ btns.btnLink({
                text: item.title,
                link: item.link,
                type: 'simple',
                classes:  item.classes|join(' '),
            }) }}
		{% endfor %}
	</div>
{% endif %}