{% set level = level + 1 %}
<menu class="menu-list flex items-center gap-4 {{ name }}" data-level="{{ level }}">
    {% for item in items %}
        <li class="border border-red-700 menu-list-item">
            {% if item.link == '#' %}
                <button class="{{ item.classes|join(' ') }} inline-flex items-center text-sm menu-link">
                    <div class="text">{{ item.title }}</div>
                    {# <div class="direction-indicator">▲</div> #}
                </button>
                {% else %}
                <a href="{{ item.link }}" class="{{ item.classes|join(' ') }} menu-link text-sm inline-flex hover:text-blue-600 transition duration-150 ease-out" target="{{ item.target }}">
                    <span>{{ item.title }}</span>
                </a>
            {% endif %}
            {% if item.children %}
                {% include 'components/menu-list/menu-list-header.twig' with {'items': item.children} %}
            {% endif %}
        </li>
    {% endfor %}
</menu>


