{# Section Content with Image #}
{% embed "@Layouts/sections/_embed-section-component-helper.twig" with {
    section_id_name: 'section-component-content-with-image',
    section_class_name: 'section-component-content-with-image',
} %}

    {% block component_content %}
        {% import "@Elements/_macro-icon.twig" as icons %}
        {% import "@Elements/_macro-heading.twig" as headings %}
        {% import "@Elements/_macro-badge.twig" as badges %}
        {% import "@Elements/_macro-image-object.twig" as images %}
        {% import "@Elements/_macro-button.twig" as buttons %}

        {% set logo_sets = component.logo_sets %}

        <div class="grid mx-auto overflow-clip section-component-featured-logos__content inview-container place-content-center">

            
            <div class="space-y-4 text-center lg:mx-0 section-component-featured-logos__header inview-item">
                {% if has_accent and accent %}
                    {{ badges.render_accent_badge({
                        title: accent,
                        color: 'text-blue-500 dark:text-cyan-400'
                    })}}
                {% endif %}

                {% if has_title and title %}
                    <hgroup class="section-component-featured-logos__headings">
                        {{ headings.render_heading_three({
                            title: title,
                            size: 'text-4xl sm:text-5xl tracking-tight',
                            color: 'text-gray-800 dark:text-white',
                            weight: 'font-bold',
                            preview: is_preview
                        }) }}
                    </hgroup>
                {% endif %}

                {% if has_entry and entry %}
                    <div class="mx-auto prose text-gray-500 lg:fluid-text-base/7 section-component-featured-logos__entry dark:prose-invert">
                        {{ entry }}
                    </div>
                {% endif %}
            </div>

            {% for logo_set in logo_sets %}
                <div 
                    x-data="scrollerComponent"
                    xinit="init"
                    class="mx-auto mt-2 max-w-(--breakpoint-2xl)">
                    {% set direction = logo_set.direction %}
                    <div 
                        x-ref="scroller"
                        class="scroller" data-direction="{{ direction ? 'right' }}" data-speed="slow">
                        <ul 
                            x-ref="scrollerInner"
                            class="px-0 m-0 list-none scroller__inner">
                            {% for logo in logo_set.logos %}
                                <li class="flex items-center w-full px-4 bg-white border border-blue-200 rounded-sm opacity-90 max-w-72 dark:border-transparent dark:invert-100">
                                    <img src="{{ logo.url }}" alt="{{ logo.title }}" class="max-w-full scroller__item saturate-[.40]">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>

        {# ctas #}
        {% if has_ctas and ctas %}
            <div class="flex justify-center mt-8 section-component-featured-logos__cta">
                {% include "@Components/content/section_featured_logos/partials/_partial-section-ctas.twig" %}
            </div>
        {% endif %}


    {% endblock %}
{% endembed %}

