{# Section Featured Posts #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}


{% set component = component.featured_posts[0] %}

{% set title = component.title %}
{% set entry = component.entry %}
{% set type_of_posts = component.type_of_posts %}
{% set link = component.link %}
{# {% set posts = get_posts(component.recommended) %} #}

{% if type_of_posts == 'category' %}
    {% set posts = get_posts({
        'post_type': 'post',
        'posts_per_page': 3,
        'orderby': 'date',
        'cat': component.post_category,
        'order': 'DESC',
    }) %}
{% elseif type_of_posts == 'recommmened' %}
    {% set posts = get_posts(component.recommended) %}
{% else %}
    {% set posts = get_posts({
        'post_type': 'post',
        'posts_per_page': 3,
        'ignore_sticky_posts': 1
    }) %}
{% endif %}



<div id="section-component-featured-posts-{{ loop.index }}" class="bg-white section-component-featured-posts ">
	<div class="px-6 mx-auto lg:px-8 section-component-featured-posts__content inview-container">
		<div class="max-w-5xl mx-auto lg:mx-0 section-component-featured-posts__header inview-item">
			{{ headings.render_heading_two({
                title: title,
                color: 'text-black',
                size: 'fluid-text-3xl',
            })}}

            <div class="section-component-featured-posts__entry inview-item">
                {% embed "@Layouts/prose/_embed-prose-section.twig" %}
                    {% block prose_content %}
                        {{ entry }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum fugiat voluptatem veritatis perspiciatis ipsa quae harum. Aliquid, sequi repudiandae. Facere aliquid tenetur laboriosam tempore eveniet dicta non nisi reiciendis.
                    {% endblock %}
                {% endembed %}
            </div>
		</div>
		<ul role="list" class="grid max-w-2xl grid-cols-1 mx-auto mt-20 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 section-component-featured-posts__list">
            {% for item in posts %}
			<li 
                id="section-component-featured-team-member-{{ loop.index }}" class="section-component-featured-team-member inview-item">

                {% include "@Components/cards/_component-card-simple.twig" with {
                    id: 'card-simple-' ~ loop.index,
                    title: item.title,
                    entry: item.excerpt ?: item.content,
                    image: item.image,
                    link: item.link,
                    image: item.thumbnail.src,
                    clamp: 'line-clamp-3',
                } %}
			</li>
            {% endfor %}
		</ul>

        {# cte #}
        <div class="flex justify-center mt-12 section-component-featured-posts__cta">
            {{ buttons.render_button_link({
                text: link.title,
                type: 'simple',
                size: 'large',
                link: link.url,
            }) }}
        </div>
	</div>
</div>