{# Section Content with Image #}
{% embed "@Layouts/sections/_embed-section-component-helper.twig" with {
    section_id_name: 'section-component-content-with-image',
    section_class_name: 'section-component-content-with-image',
} %}

    {% block component_content %}
        {% import "@Elements/_macro-icon.twig" as icons %}
        {% import "@Elements/_macro-heading.twig" as headings %}
        {% import "@Elements/_macro-badge.twig" as badges %}
        {% import "@Elements/_macro-image-object.twig" as images %}
        {% import "@Elements/_macro-button.twig" as buttons %}

        {% set image = component.image.url %}
        {% set gallery = component.image_gallery %}
        {% set content_reverse = component.content_reverse %}

        <div class="mx-auto section-component-content-with-image__container py-12">
            <div class="flex flex-col gap-12 {{ content_reverse ? 'lg:flex-row' : 'lg:flex-row-reverse' }} lg:gap-0">

                {% if image or gallery %}
                    {# featured Image #}
                    <div class="relative flex-none group lg:w-1/2 stagger-inview-item {{ content_reverse ? 'lg:mr-16  xl:mr-16' : 'lg:ml-16  xl:ml-16' }}">

                        {% if image %}
                            <figure class="relative overflow-hidden rounded-sm section-component-content-with-image__figure hidden stagger-inview-item">
                                {{ images.render_image({
                                    src: image,
                                    alt: title,
                                    class: 'relative mx-auto section-component-content-with-image__src',
                                }) }}
                            </figure>
                        {% endif %}

                        {% if gallery %}    
                            <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 xl:gap-8 lg:pt-16 stagger-inview-container">
                                {% for img in gallery %}
                                    <figure class="{{ loop.index is divisible by(2)  ? 'lg:-mt-24' : '' }} aspect-video lg:aspect-square overflow-hidden rounded-xl  -outline-offset-1 outline-black/10 stagger-inview-item">
                                        <img src="{{ get_image(img).src | towebp }}" alt="" class="block size-full object-cover" />
                                    </figure>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {# featured Entry #}
                <div class="space-y-8 lg:w-1/2 section-component-content-with-image__entry">

                    {% include "@Components/content/section_content_with_image/partials/_partial-section-header.twig" %}
                    
                    {% if has_entry and entry %}
                        <div class="section-component-content-with-image__entry">
                            {# Entry content #}
                            {% embed "@Layouts/prose/_embed-prose-section.twig" with {
                                class: 'prose-p:text-current text-pretty prose-p:text-base lg:prose-p:text-lg'
                            } %}
                                {% block prose_content %}
                                    {{ entry }}
                                {% endblock %}
                            {% endembed %}
                        </div>
                    {% endif %}

                    {% include "@Components/content/section_content_with_image/partials/_partial-section-ctas.twig" %}

                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
