{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}
{% import "@Elements/_macro-heading.twig" as headings %}
<article 
    id="post-{{ id }}"
    class="relative flex flex-col items-start h-full overflow-hidden bg-white border-2 border-blue-100 group rounded-md card-post {{ type }}">
    <div class="relative w-full">
        {% if thumbnail %}
            <a href="{{ link }}" class="group" title="{{ title }}">
                <figure class="relative w-full aspect-16/8 flex items-center px-4 pt-8 bg-white card-post__featured max-w-64 saturate-0 group-hover:saturate-100 group-hover:scale-110 transition-all duration-200 ease-in-out">
                    {{ images.render_image({
                        'src': thumbnail.src | towebp,
                        'alt': thumbnail.slug,
                    }) }}
                </figure>
            </a>
        {% endif %}
    </div>
    <div class="px-6 pb-4 card-post__body">
       {#  #}
        <div class="relative group">
            <div class="card-post__title">
                    <a href="{{ link }}" class="group line-clamp-2" title="{{ title }}">
                        <span class="absolute inset-0"></span>
                       {{ headings.render_heading(3,{
                            title: title,
                            color: 'text-blue-600 group-hover:text-blue-700 dark:text-cyan-400 dark:group-hover:text-cyan-600',
                            size: 'text-lg md:text-lg lg:text-xl',
                            preview: is_preview
                    })}}
                    </a>
            
            </div>
            {% if entry %}
                {# excerpt #}
                <div class="card-post__excerpt">
                    <p class="mt-2 text-sm leading-6 text-gray-600 line-clamp-3">{{ entry }}</p>
                </div>
            {% endif %}

            {# cta #}
            <div class="py-2 mt-4 card-post__cta">
                {{ buttons.render_button_link({
                    text: 'Read Success Story',
                    link: cta.link.url,
                    style: 'outline',
                    size: 'small',
                    class: 'text-blue-600 border-blue-600',
                }) }}
            </div>
        </div>
    </div>
</article>