{# Card Team Member Defaukt #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

        
<div id="card-team-mamber-{{ id }}" class="card-team-member-default">
    <figure class="aspect-3/2 rounded-lg overflow-hidden bg-gray-400 ">
        {{ images.render_image({
            src: profile.url ?: theme.link ~ '/dist/icons/defaults/icon-temp-image.svg',
            alt: profile.alt,
            class: 'w-full h-full',
        })}}
    </figure>

    {# name and title #}
    <div class="flex justify-between px-1 py-2 card-team-member-default__entry">
        <div class="grow card-team-member-default__header">
            {{ headings.render_heading_three({
                title: title,
                size: 'fluid-text-lg/2xl',
                color: 'text-gray-900 dark:text-white',
            }) }}
            <p class="text-sm font-semibold leading-7 text-blue-500 dark:text-gray-400">{{ position }}</p>
        </div>

        
            <div class="shrink">
                <a href="{{ social }}" class="block pb-1 transition-colors duration-200 ease-linear text-white/30 hover:text-white" target="_blank">
                    <span class="sr-only">LinkedIn for {{ title }}</span>
                    {{ icons.icon({
                        path: 'social',
                        name: 'linkedin',
                        classes: 'size-5',
                    }) }}
                </a>
            </div>
        {% if social %}{% endif %}
    </div>


    <div class="flex justify-between px-1 card-team-member-default__cta">
        {# <button  type="button" class="relativetext-sm link-fx-1" aria-label="{{ title }}">Full Bio</button> #}

        
    </div>
    
    {% embed "@Layouts/modals/_embed-modal-default.twig" with {
        theme: theme
    } %}
            {% block modal_content %}
                {% include "@Components/cards/teams/partials/_partial-modal-content-team-default.twig" %}
            {% endblock %}
    {% endembed %}
</div>