{# Card Team Member Defaukt #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

        
<div id="card-team-mamber-{{ id }}" class="card-team-member-default">
    <figure class="aspect-[3/2] rounded-lg overflow-hidden bg-gray-400 border-2  ">
        {{ images.render_image({
            src: profile.url ?: theme.link ~ '/dist/icons/defaults/icon-temp-image.svg',
            alt: profile.alt,
            class: 'w-full h-full',
        })}}
    </figure>

    {# name and title #}
    <div class="flex justify-between px-1 py-2 card-team-member-default__entry">
        <div class="flex-grow card-team-member-default__header">
            {{ headings.render_heading_three({
                title: title,
                size: 'fluid-text-base',
            }) }}
            <p class="text-base leading-7 textblue-500">{{ position }}</p>
        </div>

        {% if social %}
            <div class="flex-shrink">
                <a href="{{ social }}" class="block py-1 text-dodger-blue-900 hover:text-white" target="_blank">
                    <span class="sr-only">LinkedIn for {{ title }}</span>
                    {{ icons.icon('linkedin', 'size-5') }}
                </a>
            </div>
        {% endif %}
    </div>


    <div class="flex justify-between px-1 py-2 card-team-member-default__cta">
        <button @click="modalIsOpen = true" type="button" class="relative after:absolute after:bg-gray-200 after:bottom-0 after:left-0 after:h-[2px] after:w-full after:translate-y-1 after:opacity-0 hover:after:translate-y-0 hover:after:opacity-100 after:transition after:ease-in-out after:duration-20 hover:text-dodger-blue-500" aria-label="{{ title }}">Full Bio</button>
    </div>
    
    {% embed "@Layouts/modals/_embed-modal-default.twig" %}
            {% block modal_content %}
                {% include "@Components/cards/teams/partials/_partial-modal-content-team-default.twig" %}
            {% endblock %}
    {% endembed %}
</div>