{# Section Content Key List #}
{% import "@Elements/_macro-icon.twig" as icons %}
{% import "@Elements/_macro-heading.twig" as headings %}
{% import "@Elements/_macro-badge.twig" as badges %}
{% import "@Elements/_macro-image-object.twig" as images %}
{% import "@Elements/_macro-button.twig" as buttons %}

{% set component = component.featured_statistics[0] %}

{% set accent = component.accent %}
{% set title = component.title %}
{% set sub_title = component.sub_title %}
{% set entry = component.entry %}
{% set stats = component.stats %}

<div id="section-featured-statistics-{{ loop.index }}" class="section-featured-statistics">
	<div class="px-6 mx-auto lg:px-8 section-featured-statistics__container inview-container">
		<div class="max-w-2xl mx-auto lg:max-w-none">
			<div class="text-center section-featured-statistics__header">
                {% if accent %}
                    {{ badges.render_accent_badge({
                        title: accent,
                        class: 'section-entry__accent',
                    })}}
                {% endif %}

                <hgroup class="space-y-2 section-featured-statistics__title">
                    {{ headings.render_heading_two({
                        title: title,
                    }) }}

                    {% if sub_title %}
                        {{ headings.render_heading_three({
                            title: sub_title,
                        }) }}
                    {% endif %}
                </hgroup>

                {% if entry %}
                    {% embed "@Layouts/prose/_embed-prose-section.twig" %}
                        {% block prose_content %}
                            {{ entry }}
                        {% endblock %}
                    {% endembed %}
                {% endif %}
				
			</div>
			<dl class="mt-8 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4 section-featured-statistics__items">
                {% for item in stats %}
				<div id="stat-list-{{ loop.index }}" class="flex flex-col p-8 bg-gray-400/5 inview-item">
					<dt class="text-sm font-semibold leading-6 text-gray-600">{{ item.entry }}</dt>
					<dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">{{ item.stat }}{{ item.caret }}</dd>
				</div>
                {% endfor %}
			</dl>
		</div>
	</div>
</div>


