{% macro render_heading_display(options={}) %}
    {% set options = {
        title: 'Heading Display',
        color: 'text-white',
        font: font | default('font-sans'),
        size: size | default('fluid-text-6xl'),
        weight: weight | default('font-semibold'),
        case: case
    } | merge(options)  %}

    {% set headingOptions = options.color ~ ' ' ~ options.size ~ ' ' ~ options.case ~ ' ' ~ options.font ~ ' ' ~ options.weight  %}

    <h1 class="{{ headingOptions }}">{{ options.title }}</h1>
{% endmacro %}

{# Heading One #}
{% macro render_heading_one(options=[]) %}

    {% set options = {
        title: 'Heading One',
        color: color ?: currentColor,
        font: font | default('font-sans'),
        size: size | default('fluid-text-5xl'),
        weight: weight | default('font-semibold'),
        case: case
    } | merge(options)  %}

    {% set headingOptions = options.color ~ ' ' ~ options.size ~ ' ' ~ options.case ~ ' ' ~ options.font ~ ' ' ~ options.weight %}

    <h1 class="{{ headingOptions }} font-bold">{{ options.title }}</h1>
{% endmacro %}

{# Heading Two #}
{% macro render_heading_two(options={}) %}

    {% set options = {
        title: 'Heading Two',
        color: color ?: currentColor,
        font: font | default('font-sans'),
        size: size ?? 'fluid-text-xl/snug',
        weight: weight | default('font-semibold'),
        case: case
    } | merge(options)  %}

    {% set headingOptions = options.color ~ ' ' ~ options.size ~ ' ' ~ options.case ~ ' ' ~ options.font ~ ' ' ~ options.weight %}


    <h2 class="{{ headingOptions }} font-bold">{{ options.title }}</h2>
    
{% endmacro %}

{# Heading Three #}
{% macro render_heading_three(options={}) %}

    {% set options = {
        title: 'Heading Three',
        color: color ?: currentColor,
        font: font | default('font-sans'),
        size: size | default('fluid-text-lg/snug'),
        weight: weight | default('font-semibold'),
        case: case
    } | merge(options)  %}

    {% set headingOptions = options.color ~ ' ' ~ options.size ~ ' ' ~ options.case ~ ' ' ~ options.font ~ ' ' ~ options.weight %}

    <h3 class="{{ headingOptions }} font-semibold ">{{ options.title }}</h3>
{% endmacro %}

{# Heading four #}
{% macro render_heading_four(options={}) %}

    {% set options = {
        title: 'Heading Four',
        color: 'text-white',
        font: font | default('font-sans'),
        size: size | default('fluid-text-xl'),
        weight: weight | default('font-semibold'),
        case: case
    } | merge(options)  %}

    {% set headingOptions = options.color ~ ' ' ~ options.size ~ ' ' ~ options.case ~ ' ' ~ options.font ~ ' ' ~ options.weight %}

    <h4 class="{{ headingOptions }} font-bold">{{ options.title }}</h4>
{% endmacro %}

{% macro render_heading_five(options=[]) %}

    {% set options = {
        title: 'Heading Five',
        color: 'text-white',
        font: font | default('font-sans'),
        size: size | default('fluid-text-lg'),
        weight: weight | default('font-semibold'),
        case: case
    } | merge(options)  %}

    {% set headingOptions = options.color ~ ' ' ~ options.size ~ ' ' ~ options.case ~ ' ' ~ options.font ~ ' ' ~ options.weight %}

    <h4 class="{{ headingOptions }} font-bold">{{ options.title }}</h4>
{% endmacro %}