{# Main Heading #}
{% macro render_heading(level = 1, options = {}) %}
	{# Validate heading level #}
	{% set level = level|default(1)|abs|round %}
	{% if level < 1 or level > 6 %}
		{% set level = 1 %}
	{% endif %}

	{% set defaults = {
        title: 'Heading ' ~ level,
        color: color ?: currentColor,
        font: font | default('font-serif'),
        size: size | default(
            level == 1 ? 'text-fluid-5xl leading-16' :
            level == 2 ? 'text-4xl sm:text-5xl md:text-6xl lg:fluid-text-7xl' :
            level == 3 ? 'text-fluid-2xl/snug' :
            level == 4 ? 'text-fluid-xl' :
            level == 5 ? 'text-fluid-lg' :
            'text-fluid-base'
        ),
        weight: weight | default('font-medium'),
        case: case,
        preview: '',
        id: '',                    
        classes: '',               
        attributes: {}             
    } %}

	{% set options = defaults | merge(options) %}
	{% set headingOptions = [
        options.color,
        options.size,
        options.case,
        options.font,
        options.weight,
        options.classes,
    ]|join(' ')|trim %}

	{% set attributes = '' %}
	{% for key, value in options.attributes %}
		{% set attributes = attributes ~ ' ' ~ key ~ '="' ~ value ~ '"' %}
	{% endfor %}

	{% if options.preview %}
		<div class="{{ headingOptions }} tracking-tighter" {% if options.id %} id="{{ options.id }}" {% endif %} {{ attributes|raw }}>{{ options.title }}</div>
	{% else %}
		<h{{level}} class="{{ headingOptions }} tracking-tighter" {% if options.id %} id="{{ options.id }}" {% endif %} {{ attributes|raw }}>{{ options.title }}</h{{level}}>
	{% endif %}
{% endmacro %}

{# Heading Usage 

{{ render_heading(1, {  
    title: 'Heading 1',
    color: 'text-white',
    font: 'font-sans',
    size: 'fluid-text-5xl',
    weight: 'font-semibold',
    case: 'normal',
    classes: 'text-white',
    attributes: {
        'data-test': 'heading-1'
    }
}) }}


#}