{# Button Link Macro #}
{% macro render_button_link(options = {}) %}
    {% import "@Elements/_macro-icon.twig" as icons %}

    {% set options = {
        text: options.text ?? 'Button Text',
        style: options.style ?? 'primary',
        type: options.type ?? 'solid',
        size: options.size ?? 'default',
        icon: options.icon ?? null,
        href: options.href ?? null,
    } | merge(options) %}

    {% set type_class = {
        solid: '',
        outline: 'btn-outline',
        ghost: 'btn-ghost',
        soft: 'btn-soft',
        link: 'btn-link',
    }[options.type] ?? '' %}

    {% set style_class = {
        primary: 'btn-primary ' ~ (options.type == 'outline' ? ' bg-transparent border-tiber-500 text-tiber-600 hover:border-tiber-500' : ' bg-tiber-500 border-tiber-500 text-white hover:border-tiber-500'),
        secondary: 'btn-secondary ' ~ (options.type == 'outline' ? ' bg-transparent border-metallic-red-500 text-metallic-red-500' : 'bg-metallic-red-500 border-metallic-red-500 text-white'),
        tertiary: 'btn-tertiary ' ~ (options.type == 'outline' ? ' bg-transparent border-azure-300 text-azure-300' : 'bg-azure-500 border-azure-500 text-white'),
        white: 'btn-white ' ~ (options.type == 'outline' ? 'bg-transparent border-white text-white' : 'bg-white border-white text-tiber-600'),
    }[options.style] ?? '' %}

    

    {% set size_class = {
        small: 'btn-sm',
        default: 'btn-md',
        large: 'btn-lg',
    }[options.size] ?? '' %}

    {% set button_classes = [
        style_class,
        type_class,
        size_class,
        'btn rounded-full lg:px-10 px-6 shadow-none'
    ]|join(' ') %}

    {% set button_text %}
        <span class="inline-flex btn__content">{{ options.text }}</span>
        {# Include an optional SVG icon #}
        {% if options.icon is not null %}
            <span class="relative inline-flex items-center justify-center w-5 h-5 bg-current rounded-full">
                {{ icons.icon(options.icon, 'w-4 h-4') }}
            </span>
        {% endif %}
    {% endset %}

    {% if options.href is not empty %}
        {% set is_hash_link = options.href starts with '#' %}
        {# Generate button HTML #}
        <span x-data>
        <a href="{{ options.href }}" 
           {% if is_hash_link %} @click.prevent="document.getElementById('{{ options.href|slice(1) }}').scrollIntoView({ behavior: 'smooth' })"{% endif %}
           class="{{ button_classes }}">
            {{ button_text }}
        </a>
        </span>
    {% else %}
        <button class="{{ button_classes }}">
            {{ button_text }}
        </button>
    {% endif %}
    
{% endmacro %}




