
{% macro render_accent_badge(options={}) %}
    {% import "@Elements/_macro-icon.twig" as icons %}
    {% set options = {
        title: options.title | default('Badge'),
        color: options.color | default('blue'),
    } | merge(options)  %}

    {# accent bagdge #}
    <span class="inline-flex items-center text-sm lg:text-sm font-semibold tracking-widest lg:tracking-[0.25rem] uppercase {{ options.color }}">
        <span class="inline-block size-6 mr-2 badge-icon ">
            {{ icons.icon({
                path: 'defaults',
                name: 'ballot-box',
                classes: 'size-full me-2',
            }) }}
        </span>
        {{ options.title }}
    </span>
{% endmacro %}

{% macro render_contained_badge(options=[]) %}

    {% set options = {
        title: options.title | default('Badge'),
        color: options.color | default('dodger-blue'),
        size: options.size | default('text-sm'),
    } | merge(options)  %}

    {# contained bagdge #}
    <span class="{{ options.size }} inline-flex items-center px-2.5 py-0.5 rounded-full  font-medium bg-{{ options.color }}-950 text-{{ options.color }}-600 capitalize">
        {{ options.title }}
    </span>
    
{% endmacro %}