<section id="{{ id }}" class="relative {{ class }} {{ padding_inline ?: 'px-8 sm:px-20 lg:px-8 ' }} {{ padding_block ?: ' py-8 sm:py-12 lg:py-20 ' }}  {{ inview == 'false' ? '' : 'inview-container opacity-0' }} " {{ data }}>
    <div class="px-0 mx-auto {{ max_width ?? 'max-w-screen-2xl' }}">
        {% block section_content %}
            <p>Section Content</p>
        {% endblock %}
    </div>
</section>