{# Section #}
{% embed "@Layouts/sections/_embed-section-component-helper.twig" with {
    section_id_name: block.component_name|replace({'_': '-'}),
    section_class_name: block.component_name|replace({'_': '-'}) ~ '-component overflow-hidden',
} %}

    {% block component_content %}
        {% import "@Elements/_macro-icon.twig" as icons %}
        {% import "@Elements/_macro-heading.twig" as headings %}
        {% import "@Elements/_macro-badge.twig" as badges %}
        {% import "@Elements/_macro-image-object.twig" as images %}
        {% import "@Elements/_macro-button.twig" as buttons %}

        {% set subtitle = component.sub_title ? component.sub_title : '' %}
        {% set image = component.image ? component.image : '' %}
        {% set image_gallery = component.image_gallery|default([]) %}
        

        {% set heading_size_options = {
            'default': fn('is_front_page') ? 'sm:text-6xl lg:fluid-text-9xl' : 'sm:text-5xl lg:fluid-text-7xl',
            'post': 'text-4xl lg:fluid-text-6xl',
        }[header_type] | default(fn('is_front_page') ? 'sm:text-6xl lg:fluid-text-9xl' : 'sm:text-5xl lg:fluid-text-7xl') %}
        
        <div class="relative w-full py-8 pt-32 mx-auto max-w-(--breakpoint-2xl)sm:pt-40 xl:pt-48 xl:pb-20">
            <div class="container pb-4 mx-auto space-y-6 lg:space-y-12 lg:mx-0 inview-container">
                <header class="space-y-4 inview-item">
                    <div class="header-simple__accent">
                        {{ badges.render_accent_badge({
                            title: accent,
                            color: 'text-blue-600 [&_.badge-icon]:text-gray-500 inview-item'
                        })}}
                    </div>

                    {% if has_title and title %}
                        <div class="flex flex-col lg:flex-row justify-between gap-4">
                            <hgroup 
                                class="tracking-tighter section-component-header-simple__headings text-balance max-w-3xl inview-item">
                                {{ headings.render_heading(2,{
                                    title: title,
                                    color: 'text-gray-800',
                                    weight: 'font-medium',
                                    preview: is_preview
                                }) }}
                            </hgroup>

                            <div class="flex flex-col gap-4 justify-end text-gray-800 max-w-lg lg:max-w-2xl inview-item">
                                {% if subtitle %}
                                <p class="fluid-text-base xl:fluid-text-2xl font-medium font-serif">
                                    {{ subtitle }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </header>

                <div class="mx-auto grid max-w-2xl grid-cols-1  gap-y-16 lg:mx-0 lg:max-w-none lg:min-w-full lg:flex-none lg:gap-y-8 inview-container">
                    <div class="lg:col-end-1 lg:w-full lg:max-w-4xl lg:pb-8 lg:pt-8 inview-item">
                        {% if has_entry and entry %}
                            {% embed "@Layouts/prose/_embed-prose-hero.twig" with {
                                class: 'text-balance prose-p:text-base lg:prose-p:text-xl prose-p:leading-8 lg:prose-p:leading-10 inview-item'
                            } %}
                                {% block prose_content %}
                                    {{ entry }}
                                {% endblock %}
                            {% endembed %}
                        {% endif %}

                        {% if ctas %}
                            <ul class="flex items-center pt-4 lg:pt-8 gap-x-4 lg:mt-0 lg:shrink-0 section-component-call_to_action__cta stagger-inview-container">
                                {% for cta_link in ctas %}
                                        {% set cta = cta_link.cta[0] %}
                                        
                                        <li class="section-component-header-simple__cta-item stagger-inview-item">
                                            {{ buttons.render_button_link({
                                                text: cta.link.title,
                                                href: cta.link.url,
                                                style: cta.style,
                                                type: cta.type,
                                                size: 'large',
                                            }) }}
                                        </li>
                                    {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    {% if image_gallery|length > 0 %}
                        {% if image_gallery|length == 2 %}
                        <div class="grid grid-cols-2 gap-4 w-full relative xl:-ml-24 2xl:w-[112%]    stagger-inview-container">
                            {% for img in image_gallery %}
                                <div class="w-full aspect-3/4 rounded-lg overflow-hidden {{ loop.index == 1 ? 'order-first ' : 'order-last mt-4 lg:mt-10 ' }} stagger-inview-item">
                                    <img class="size-full object-cover" src="{{ img.url }}" alt="{{ img.alt ?? '' }}">
                                </div>
                            {% endfor %}
                        </div>


                        {% else %}
                    
                    
                            <div class="flex flex-wrap items-start lg:justify-end gap-6 sm:gap-8 lg:contents w-full stagger-inview-container">
                                {% set gallery_positions = [
                                    { 
                                        wrapper: 'w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end', 
                                        img: 'aspect-video lg:aspect-7/5 w-148 max-w-none rounded-2xl bg-gray-800 object-cover max-sm:w-120 stagger-inview-item' 
                                    },
                                    { 
                                        wrapper: 'order-first flex w-64 flex-none justify-end self-end max-sm:w-40 lg:w-auto', 
                                        img: 'aspect-video lg:aspect-4/3 w-[24rem] max-w-none flex-none rounded-2xl bg-gray-800 object-cover stagger-inview-item' 
                                    },
                                    { 
                                        wrapper: 'flex w-md flex-auto justify-end lg:w-auto lg:flex-none', 
                                        img: 'aspect-video lg:aspect-[7/4.3] w-140  max-w-none flex-none rounded-2xl bg-gray-800 object-cover max-sm:w-120 stagger-inview-item' 
                                    },
                                    { 
                                        wrapper: 'hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none', 
                                        img: 'aspect-video lg:aspect-[4/2.1] w-lg max-w-none rounded-2xl bg-gray-800 object-cover stagger-inview-item' 
                                    },
                                ] %}
                                {% if image_gallery[0] is defined %}
                                <div class="{{ gallery_positions[0].wrapper }} stagger-inview-item">
                                    <img src="{{ image_gallery[0].url }}" alt="{{ image_gallery[0].alt ?? '' }}" class="{{ gallery_positions[0].img }}" loading="lazy" />
                                </div>
                                {% endif %}
                                <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-148 lg:items-start lg:justify-end lg:gap-x-8">
                                {% for img in image_gallery|slice(1, 3) %}
                                    {% set pos = gallery_positions[loop.index] ?? gallery_positions[1] %}
                                    <div class="{{ pos.wrapper }} stagger-inview-item">
                                        <img src="{{ img.url }}" alt="{{ img.alt ?? '' }}" class="{{ pos.img }}" loading="lazy" />
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    {% endblock %}
    
{% endembed %}
